.container {
    width: 900px;
    margin: 0 auto;
    justify-content: center;
    background-color: #e6e6e6;
    height: 100vh;
}

.flex-container {
    display: flex;
}

h1, p {
    margin: 0;
}

button {
    padding: 0
}

.box-img, .box-text {
    max-height: 240px;
}

.box-img {
    img{
        width: 200px;
        height: 200px;
        margin: 20px;
        border-radius: 50%;
    }
}

.box-text {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}